@charset "UTF-8";
// 数字角标
// ---------------------------------
.#{$namespace}badge {
    display: inline-block;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1;
    color: #333;
    background-color: rgba(0,0,0,.15);
    border-radius: 100px;   
    // 无背景
    &.#{$namespace}badge-inverted {
        padding: 0 5px 0 0;
        color: $default-color;
        background-color: transparent;
    }
    // 有边框
    &.#{$namespace}badge-border{
        border:1px solid #333;
    }
}
// 主题颜色
// -----暂缺
