@charset "UTF-8";


$btn-radius:2px;
$button-font-size: 14px !default;
// Buttons 默认按钮
// --------------------------------------------------
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.#{$namespace}btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0; // For input.#{$namespace}btn
    font-size: $button-font-size;
    font-weight: $font-weight-light;
    line-height: 1; 
    color: #333;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
   // border: 1px solid #ccc;
    border:none;
    outline:none;
    border-radius: $btn-radius;
    
    // @extend %box-shadow;

    @include transition(all);
    @include transition-duration(.2s);
    @include transition-timing-function(linear);

    // Active & filled button styles
    &:enabled:active,
    &.#{$namespace}active:enabled {
        color: #fff;
        background-color: $default-color;
    }
    // Disabled styles & filled button active styles
    &:disabled,
    &.#{$namespace}disabled {
        opacity: 0.6;
    }
}

// --------------------------------------------------
//主题颜色
input[type="submit"],
.#{$namespace}btn-primary{
    @include btn($primary-color);
}
// Outlined buttons  默认透明颜色
.#{$namespace}btn-outline{
    background-color: transparent;
    color:$primary-color;
}
// 链接按钮
// --------------------------------------------------------
.#{$namespace}btn-link {
    padding-top: 6px;
    padding-bottom: 6px;
    color: $primary-color;
    background-color: transparent;
    border: 0;
    box-shadow:none;
    &:enabled:active,
    &.#{$namespace}active:enabled {
        color: darken($primary-color, 10%);
        background-color: transparent;
    }
}

// 块级按钮
// ---------------------------------------
.#{$namespace}btn-block {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin-bottom: 10px;
    font-size: 16px;
}

// 带数字角标按钮
// -------------------------------------------
.#{$namespace}btn .#{$namespace}badge {
    margin: -2px -4px -2px 4px;
    font-size: $button-font-size;
    background-color: rgba(0,0,0,.15);
}



