@charset "UTF-8";


$formLabelWidth: 90px !default;
$formNoLabelSwitch: true !default;


.#{$namespace}f-text,
.#{$namespace}f-textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid $colorBorder;
}

.#{$namespace}f-text{   
    height: $barHeight;
    padding: 7px 5px;
    &.#{$namespace}f-text-right-icon{
        padding-right: 30px;
    }

}

.#{$namespace}f-textarea {
    height: 100px;
    line-height: 1.5;
    resize: none;
}

.#{$namespace}form{
    background: #fff;
    @extend %border-tb;
    // 上下边框
}

.#{$namespace}form-item{
    display: flex;
    align-items: center;
    position: relative;
    line-height: $barHeight;
    overflow: hidden;
    &:not(:first-of-type)::before {
        content: "";
        @include retina-one-px-border;
    }

    .#{$namespace}item-label{
        width: $formLabelWidth;
        padding-left: 10px;
    }

    .#{$namespace}item-field{
        flex: 1;
        width: 1%;
        .#{$namespace}f-text{
            display: block;
            border: 0 none;
            width: 100%;
            box-sizing: border-box;
            -webkit-appearance: none;
            outline:none;
            background-color: #fff;
            &.#{$namespace}color{
                width:44px;
                height:44px;
                }
        }
// 注意
        .#{$namespace}icon-input-clear{
            height: $barHeight;
        }
    }

    .#{$namespace}icon-v-right{
        display: block;
        width: 30px;
        height: $barHeight;
        color: #ccc;
    }
}

@if $formNoLabelSwitch {
    // 无边框
    .#{$namespace}form-no-label{
        .#{$namespace}f-text,
        .#{$namespace}f-textarea {
            border: 0 none;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
// 清除按钮
.#{$namespace}icon-input-clear{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    color:#ccc;
    font-size:18px;  
}
// 未抽象
 .ion-close-circled:before {
       vertical-align: middle;
       font-size:20px;
    }
// 右边图标按钮
 .#{$namespace}icon-v-right{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        
        .ion-ios-arrow-right{
           color:#ccc;
           font-size:18px;
        }
    }
// 各个表单组件样式
//show the min and max
//滑动器
//
.#{$namespace}input-range{
    input[type="range"] {
        -webkit-appearance: none!important;
        cursor: pointer;
        border: 0;
        outline: none;
        padding: 0;
        margin: 17px 0;
        background-color: #999;
        height: 2px;
        border-radius: 3px;
        position: relative;
        width:100%;
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none!important;
        background-color:$primary-color;
        background-clip: padding-box;
        height:28px;
        width:28px;
        border-radius: 50%;
        border-color: darken($primary-color, 10%);
    }

    label ~ input[type="range"]{
        width:65%;
    }
    // .#{$namespace}tooltip{
    //     width: 64px;
    //     height: 64px;
    //     font-size: 36px;
    //     line-height:64px;
    //     opacity: .8;
    //     background-color: #fff;
    //     border:1px solid #ddd;
    //     border-radius:6px;
    //     color: #333;
    //     text-shadow: 0 1px 0 #f3f3f3;
    //     position:absolute;
    //     top:-70px;
    //     text-align:center;
    //     z-index:z("default");
    // }
}