@charset "UTF-8";


$formLabelWidth: 90px !default;
$formNoLabelSwitch: true !default;


.#{$namespace}f-text,
.#{$namespace}f-textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid $colorBorder;
}

.#{$namespace}f-text{   
    height: $barHeight;
    padding: 7px 5px;
    &.#{$namespace}f-text-right-icon{
        padding-right: 30px;
    }

}

.#{$namespace}f-textarea {
    height: 100px;
    line-height: 1.5;
    resize: none;
}

.#{$namespace}form{
    background: #fff;
    @extend %border-tb;
    // 上下边框
}

.#{$namespace}form-item{
    display: flex;
    align-items: center;
    position: relative;
    line-height: $barHeight;
    overflow: hidden;
    &:not(:first-of-type)::before {
        content: "";
        @include retina-one-px-border;
    }

    .#{$namespace}item-label{
        width: $formLabelWidth;
        padding-left: 10px;
    }

    .#{$namespace}item-field{
        flex: 1;
        width: 1%;
        .#{$namespace}f-text{
            display: block;
            border: 0 none;
            width: 100%;
            box-sizing: border-box;
            -webkit-appearance: none;
            outline:none;
            background-color: #fff;
            &.#{$namespace}color{
                width:44px;
                height:44px;
                }
        }

        .#{$namespace}icon-input-clear{
            height: $barHeight;
        }
    }

    .#{$namespace}icon-v-right{
        display: block;
        width: 30px;
        height: $barHeight;
        color: #ccc;
    }
}

@if $formNoLabelSwitch {
    // 无边框
    .#{$namespace}form-no-label{
        .#{$namespace}f-text,
        .#{$namespace}f-textarea {
            border: 0 none;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
// 清除按钮
.#{$namespace}icon-input-clear{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    color:#ccc;
    font-size:16px;
}
// 右边图标按钮
 .#{$namespace}icon-v-right{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        
        .#{$namespace}icon {
           color:#ccc;
           font-size:18px;
        }
    }
// 各个表单组件样式