@charset "UTF-8";

$lineSelectSwitch:         true !default; // 单选
$lineMutilSelectSwitch:    true !default; // 多选
$lineVIconSwitch:          false !default; // icon v


.#{$namespace}line-item {
    @extend %bar-line;
    // 自己新增
    .#{$namespace}line-a{
        display:block;
        height:100%;
        width:100%;
    }
}
.#{$namespace}line-list {
    background: #fff;
    + .#{$namespace}line-list {
        margin-top: 10px;
    }
}

.#{$namespace}line-list-center {
    text-align: center;
}

.#{$namespace}line-list-indent {
    @extend %border-tb;
    .#{$namespace}line-item::before {
        left: 10px;
    }
}

.#{$namespace}line-list-after-v {
    .#{$namespace}line-item {
        padding-right: 30px;
        @extend %item-v-right;        
    }
}


.#{$namespace}line-list-flex {
    .#{$namespace}line-item {
        display: flex;
        align-items: center;
        padding-right: 0;
        .#{$namespace}item-icon,
        .#{$namespace}item-img,
        .#{$namespace}switch,
        .#{$namespace}badge,
        .#{$namespace}item-append{
            margin-right: 12px;
        }
        .#{$namespace}item-tt,
        .#{$namespace}item-bd {
            flex: 1;
            margin-right: 12px;
            width: 1%;
        }
        .#{$namespace}bd-tt {
            line-height: 1.3;
            font-size: 16px;
            margin-bottom: 4px;
            font-weight:normal;
        }
        .#{$namespace}bd-txt {
            line-height: 1.5;
            color: #999;
            font-size: 12px;
        }
        .#{$namespace}item-append{
            color: $color9;
            margin-right:21px;
        }
        .#{$namespace}icon-v-right {
            width: 30px;
            height: 30px;
            color: $colorC;
            margin-left: -10px;
            text-align:center;
            line-height:30px;
        }
        .#{$namespace}badge {
            position: static;
            line-height: 1.5;
        }
    }
}

@if $lineSelectSwitch{
    .#{$namespace}line-list-select {
        .#{$namespace}line-item {
            padding-right: 30px;
            &.#{$namespace}active {
                color: $primary-color;
                &::after {
                    content: "";
                    display: block;
                    width: 14px;
                    height: 8px;
                    border-bottom: 2px solid currentColor;
                    border-left: 2px solid currentColor;
                    transform: rotate(-52deg) translate(0, -50%);
                    box-sizing: border-box;
                    position: absolute;
                    top: 50%;
                    right: 8px;
                    margin-top: -4px;
                }
            }
        }
    }
}
@if $lineMutilSelectSwitch{
    .#{$namespace}line-list-multi-select {
        .#{$namespace}icon-checkbox{
               font-size:18px;
                vertical-align:middle;
                margin-right:5px;
            }
         .#{$namespace}active{
             .#{$namespace}checkbox{
                &:checked{
                 &::after{
                    content:"\f373";        
                }
                }
            }
        }
    }
}