@charset "UTF-8";

// 盒模型box-sizing
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;//禁止选择文字
    outline: none;
}
html,body{
    height:100%;
}
body{
    font-size: $font-size-default;
    font-family: $font-family-default;
    line-height: $line-height-default;
    color: $font-color;
    min-height: 100%;
    background-color:#f5f5f5;
}

// a标签链接
a {
    color: $primary-color;
    text-decoration: none;
    &:active {
        color: darken($primary-color, 10%);
    }
}

img{
    vertical-align: middle;
    max-width: 100%;
}
// 主容器 
.#{$namespace}content {
     //background-color: #f5f5f5;
    -webkit-overflow-scrolling: touch;
}

// 设置顶部底部导航栏
.#{$namespace}header ,.#{$namespace}footer{
    position: fixed;
    left: 0;
    right: 0;
}
.#{$namespace}footer{
    bottom:0;
}

// 设置主容器和顶部导航header ,footer的距离
.#{$namespace}header ~ .#{$namespace}content {
    padding-top: $barHeight;
}
.#{$namespace}footer ~ .#{$namespace}content {
    padding-bottom: $barHeight;
}


// 辅助类
.#{$namespace}content-padded {
    margin: $bar-side-spacing;
}
.#{$namespace}inline {
    display: inline-block;
    vertical-align: top;
}
.#{$namespace}block {
    display: block!important;
}
.#{$namespace}visibility {
    visibility: visible!important;
}
.#{$namespace}hidden {
    display: none!important;
}
.#{$namespace}ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.#{$namespace}ellipsis-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal!important;
    word-wrap: break-word;
}

//对表格的布局
.#{$namespace}table{
    display: table;
    table-layout: fixed;
    width: 100%;
}
//相当于td
.#{$namespace}table-cell{
    display: table-cell;
    position: relative;
}

.#{$namespace}text-left{
    text-align: left!important;
}
.#{$namespace}text-center{
    text-align: center!important;
}
.#{$namespace}text-justify{
    text-align: justify!important;
}
.#{$namespace}text-right{
    text-align: right!important;
}
.#{$namespace}pull-left {
    float: left;
}
.#{$namespace}pull-right {
    float: right;
}

.#{$namespace}list-unstyled {
    padding-left: 0;
    list-style: none;
}

.#{$namespace}list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.#{$namespace}list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.#{$namespace}clearfix {
    @include clearfix();
}
// 遮罩层
// 
// Backdrop (used as invisible touch escape)
// --------------------------------------------------

.#{$namespace}backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: z("backdrop");
    background-color: rgba(0,0,0,.3);
}

