@charset "UTF-8";

.#{$namespace}row{
    display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
}


.#{$namespace}column{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	flex-direction: column;
}


.#{$namespace}row-cell{
	flex:auto;
}

@for $i from 1 through 12{
	.#{$namespace}col-xs-#{$i}{
		width:($i/12) * 100%;
	}
}
