
@font-face {font-family: "iconfont";
 	font-weight: normal;
    font-style: normal;
    src: url('../fonts/xui-icon.ttf') format('truetype');
}

.#{$namespace}icon {
  font-family:"iconfont" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.#{$namespace}icon-set:before { content: "\e601"; }

.#{$namespace}icon-go:before { content: "\e602"; }

.#{$namespace}icon-return:before { content: "\e604"; }

.#{$namespace}icon-nav:before { content: "\e600"; }

.#{$namespace}icon-buttom:before { content: "\e715"; }

.#{$namespace}icon-xiasanjiao:before { content: "\e607"; }

.#{$namespace}icon-badge:before { content: "\e614"; }

.#{$namespace}icon-article:before { content: "\e61e"; }

.#{$namespace}icon-add:before { content: "\e649"; }

.#{$namespace}icon-back-cricle:before { content: "\e64e"; }

.#{$namespace}icon-delete:before { content: "\e7bf"; }

.#{$namespace}icon-user:before { content: "\e6ff"; }



.#{$namespace}icon-close:before { content: "\e603"; }

.#{$namespace}icon-list:before { content: "\e65d"; }

.#{$namespace}icon-form:before { content: "\e65c"; }

.#{$namespace}icon-card:before { content: "\e78c"; }

.#{$namespace}icon-radio-fill:before { content: "\e71e"; }

.#{$namespace}icon-radio:before { content: "\e71f"; }

.#{$namespace}icon-check-empty:before { content: "\e720"; }

.#{$namespace}icon-checkbox-fill:before { content: "\e721"; }

.#{$namespace}icon-checkbox:before { content: "\e722"; }

.#{$namespace}icon-adds:before { content: "\e727"; }

.#{$namespace}icon-reduce:before { content: "\e729"; }

.#{$namespace}icon-search:before { content: "\e674"; }

.#{$namespace}icon-dowm:before { content: "\e61c"; }

.#{$namespace}icon-media:before { content: "\e60a"; }

.#{$namespace}icon-tab:before { content: "\e62f"; }

.#{$namespace}icon-other:before { content: "\e66b"; }

.#{$namespace}icon-cell:before { content: "\e63f"; }

.#{$namespace}icon-panel:before { content: "\e617"; }

.#{$namespace}icon-type:before { content: "\e646"; }
.#{$namespace}icon-message:before { content: "\e7c0"; }
.#{$namespace}icon-gril:before { content: "\e60d"; }
.#{$namespace}icon-assist:before { content: "\e686"; }
.#{$namespace}icon-flex:before { content: "\e610"; }
.#{$namespace}icon-iconfont:before { content: "\e606"; }
.#{$namespace}icon-number:before { content: "\e637"; }
// 单选框，复选框，开关
.#{$namespace}icon-checkbox,.#{$namespace}icon-radio{
    @include transition(all);
    @include transition-duration(.2s);
    @include transition-timing-function(linear);
}
.#{$namespace}icon-checkbox{
	&.#{$namespace}active{
		&::before{
			content:"\e721"
		}
	}
}

.#{$namespace}icon-radio{
	&.#{$namespace}active{
		&::before{
			content:"\e71e"
		}
	}
}

.#{$namespace}icon-switch {
		height: 30px;
		width: 50px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		background-color: #ccc;
		border-radius: 15px;
		overflow: hidden;
		z-index: 1;

    @include transition(all);
    @include transition-duration(.2s);
    @include transition-timing-function(linear);
}

.#{$namespace}icon-switch::before {
		content: "";
		height: 30px;
		width: 50px;
		position: absolute;
		left: -50px;
		background-color: $primary-color;
		border-radius: 15px;
		-webkit-transition: left 0.2s ease 0s;
		transition: left 0.2s ease 0s;
		z-index: 2;
}

.#{$namespace}icon-switch::after {
		  content: "";
		  height: 26px;
		  width: 26px;
		  background-color: #fff;
		  border-radius: 15px;
		  position: absolute;
		  left: 2px;
		  top: 2px;
		  -webkit-transition: left 0.2s ease 0s;
		  transition: left 0.2s ease 0s;
		  z-index: 3;
}

.#{$namespace}icon-switch.#{$namespace}active::before {
  left: 0;
}

.#{$namespace}icon-switch.#{$namespace}active::after {
  left: 22px;
}